// Specific CSS for your home-page
.home-container {
  display: flex;
  justify-content: space-around;
}

.container-left {
  position: sticky;
  top: 0;

  h1 {
    font-size: 100px;
    font-weight: lighter;
    color: #383838;
    position: sticky;
    top: 3rem;
    }
}

.container-right {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 66%;
}

  .card {
    margin-bottom: 16px;

    img {
        width: inherit;
    }
  }


.card-body {
  padding: 10px;
  text-align: center;

    a:link {
      text-decoration:none;
  }
}
